<!--
Conor, Pat, Regina
SDEV328 AMD
admin.html
-->
<!--This page contains the admin panel code.-->
<include href="includes/header.html"></include>

    <h3 class="text-center text-white">Admin page active. Welcome, {{ @SESSION.loggedUser->getFname() }}.</h3>

    <!--answer question block-->
    <div class="row justify-content-center">
        <div class="container border border-dark m-3 col-md-8 col-10" id="answers-block">
                <form class="mt-3 mb-4" method="post">
                <div class="text-center">
                    <h3>Unanswered User Questions</h3>
                </div>
                
                <div class="text-center ">
                    <select class="bg-white w-75 p-1 text-center d-inline-block" id="questionSelects" name="answers">
    
                        <repeat group="{{ @questionStuff }}" value="{{ @question }}">
                                
                            <check if="@question['is_answered'] == 0">
                                <option name='userQuestion' value="hiddenQ{{@question['q_id']}}" >
                                    Question Date: {{@question['q_date']}}
                                    Contact Email: {{@question['contact_email']}}
                                </option>
                            </check>
                        </repeat>
                    
                    </select>
                    
                    <repeat group="{{ @questionStuff }}" value="{{ @question }}">
                        <check if="@question['is_answered'] == 0">
                            <div class="hiddenQClass mx-2 mx-md-3 mt-4" id="hiddenQ{{@question['q_id']}}">
                                <p>User's question:</p>
                                <p><strong>{{@question['q_text']}}</strong></p>
                                <textarea class="bg-white form-control" name="{{@question['q_id']}}" id="{{@question['q_id']}}"></textarea>
                                <button class="float-end btn btn-lg btn-outline-success d-inline-block my-3"
                                        type="submit" name="submitQ" value="{{@question['q_id']}}">Answer question</button>
                            </div>
                        </check>
                    </repeat>
                    
                    <check if="{{ isset(@errorsAns['blankAnswer']) }}">
                        <span class="err ml-4">{{ @errorsAns['blankAnswer'] }}</span>
                    </check>
                </div>
            
            </form>
        </div>
    </div> <!--end answer question block-->
    
    <!--'add new item' form-->
    <div class="row justify-content-center">
        <div class="container border border-dark m-3 col-md-8 col-10" id="forms-block">
            <form method="post" class="card m-3 " id="newItemForms" enctype="multipart/form-data">
                
                <h3 class="text-center mt-3">Add New Item</h3>
                
                <check if="{{ isset(@picUp['newPicUp']) }}">
                    <span class="err ml-4">{{ @picUp['newPicUp'] }}</span>
                </check>
                <check if="{{ isset(@picUp['noPicUp']) }}">
                    <span class="err ml-4">{{ @picUp['noPicUp'] }}</span>
                </check>
                <check if="{{ isset(@errorsPic['realImage']) }}">
                    <span class="err ml-4">{{ @errorsPic['realImage'] }}</span>
                </check>
                <check if="{{ isset(@errorsPic['fileExists']) }}">
                    <span class="err ml-4">{{ @errorsPic['fileExists'] }}</span>
                </check>
                <check if="{{ isset(@errorsPic['imageSize']) }}">
                    <span class="err ml-4">{{ @errorsPic['imageSize'] }}</span>
                </check>
                <check if="{{ isset(@errorsPic['imageType']) }}">
                    <span class="err ml-4">{{ @errorsPic['imageType'] }}</span>
                </check>
                
                <fieldset class="row justify-content-center">

                    <div class="form-group col-md-10 col-12 ">
    
                        <div class="mt-4 row justify-content-center">
                            
                            <!--item name-->
                            <div class="col-md-6 col-12 my-md-0 my-2 px-5 px-md-2">
                                <check if="{{ isset(@errors['emptyName']) }}">
                                    <span class="err">{{ @errors['emptyName'] }}</span>
                                </check>
                                <label for="uploadName">Item Name </label>
                                <input class="form-control" type="text" name="uploadName" value="{{ @uploadName }}" id="uploadName">
                            </div>

                            <!--item price-->
                            <div class="col-md-6 col-12 my-md-0 my-2 px-5 px-md-2">
                                <check if="{{ isset(@errors['emptyPrice']) }}">
                                    <span class="err">{{ @errors['emptyPrice'] }}</span>
                                </check>
                                <label for="uploadPrice">Item Price </label>
                                <input class="form-control" type="text" name="uploadPrice" value="{{ @uploadPrice }}" id="uploadPrice">
                            </div>
                            
                        </div>
                        
                        <div class="mt-4 row justify-content-center">
                            <!--item description-->
                            <div class="col-lg-6 col-12 my-lg-0 my-2 px-5 px-lg-1">
                                <check if="{{ isset(@errors['emptyDesc']) }}">
                                    <span class="err">{{ @errors['emptyDesc'] }}</span>
                                </check>
                                <label for="uploadDescription">Description </label>
                                <textarea class="form-control" type="text" name="uploadDescription" id="uploadDescription"></textarea>
                            </div>

                            <!--item pic-->
                            <div class="col-lg-6 col-12 my-lg-0 my-2 px-5 px-lg-1">
                                <label for="uploadPic">Picture </label>
                                <input class="form-control" type="file" name="uploadPic" value="uploadPic" id="uploadPic">
                            </div>
                        </div>
                        
                        <div class="mt-4 mb-2 row justify-content-center">
                            <!--item qty-->
                            <div class="col-6 my-md-1 my-2 mb-3 ">
                                <check if="{{ isset(@errors['emptyQty']) }}">
                                    <span class="err">{{ @errors['emptyQty'] }}</span>
                                </check>
                                <label for="uploadCount">Quantity </label>
                                <input class="form-control" type="text" name="uploadCount" value="{{ @uploadCount }}" id="uploadCount">
                            </div>

                            <!--submit-->
                            <div class="col-6 my-md-1 my-2 ">
                                <label for="submitNewItem"></label>
                                <button class="float-end btn btn-lg btn-outline-success" type="submit"
                                        value="itemUpload" id="submitNewItem" name="submit">Submit</button>
                            </div>
                        </div>

                    </div>
                    
                </fieldset>
                
            </form>
            
        </div>
    </div> <!--end add new item form-->

    <!--archive/delete item block-->
    <div class="row justify-content-center">
        <div class="container border border-dark m-3 col-md-8 col-10" id="delete-block">
            <form class="mt-3 mb-4" method="post">
                <div class="text-center">
                    <h3>Archive or Delete Item</h3>
                    <h4>Select one that you'd like to delete or mark as 'archived.'</h4>
                </div>
                
                <div class="text-center ">
                    <select class="bg-white w-50  p-1 d-inline-block" name="archiveOrDelete">
                        
                        <repeat group="{{ @amdProducts }}" value="{{ @item }}">
                            <check if="@item['is_archived'] == 0">
                                <option name='itemArch' value="{{@item['item_id']}}" >
                                    Item ID: {{@item['item_id']}}
                                    Item Name: {{@item['item_name']}}
                                    Qty: {{ @GLOBALS.dataLayer->getItemQty( @item['item_id'] ) }}
                                </option>
                            </check>
                        </repeat>
                        
                    </select>
                    <button class=" btn btn-lg btn-outline-success d-inline-block" type="submit" name="submit" value="archiveItem">Archive Item</button>
                    <button class=" btn btn-lg btn-outline-success d-inline-block" type="submit" name="submit" value="deleteItem">Delete Item</button>
                </div>
            
            </form>
        </div>
    </div> <!--end archive/delete item block-->

    <!--mark order fulfilled block-->
    <div class="row justify-content-center">
        <div class="container border border-dark m-3 col-md-8 col-10" id="fulfill-block">
            <form class="mt-3 mb-4" method="post">
                <div class="text-center">
                    <h3>Order Fulfill</h3>
                    <h4>Select one that you'd like to mark fulfilled.</h4>
                </div>
                
                <div class="text-center ">
                    <select class="bg-white w-50 p-1 d-inline-block" name="fulfill">
                        <repeat group="{{@amdOrders}}" value="{{@order}}">
                            <check if="@order['is_fulfilled'] == 0">
                                <option name='orderfill' value="{{@order['order_id']}}" >
                                    Order ID: {{@order['order_id']}}
                                    User ID: {{@order['user_id']}}
                                    Total: ${{ @GLOBALS.dataLayer->getOrderTotal( @order['order_id'], @order['is_premium'], @order['prem_percent'] ) }}
                                </option>
                            </check>
                        </repeat>
                    </select>
                    <button class=" btn btn-lg btn-outline-success d-inline-block" type="submit" name="submit" value="orderFill">Fulfill Order</button>
                </div>
            
            </form>
        </div>
    </div> <!--end mark fulfilled block-->

    <!--make an admin or premium member form-->
    <div class="row justify-content-center">
        <div class="container border border-dark m-3 col-md-8 col-10" id="make-admin-block">
            <!--make admin block-->
            <form class="mt-3" method="post">
                <div class="text-center">
                    <h3>Non-Admin Users</h3>
                    <h4>Select one that you'd like to make into an admin.</h4>
                </div>
    
                <div class="text-center ">
                    <select class="bg-white w-50  p-1 d-inline-block" name="addition">
                        <repeat group="{{@userTableStuff}}" value="{{@user}}">
                            <check if="@user['is_admin'] == 0">
                                <option name='userAdd' value="{{@user['user_id']}}">Name: {{@user['f_name']}} {{@user['l_name']}} Email: {{@user['user_email']}}</option>
                            </check>
                        </repeat>
                    </select>
                    <button class=" btn btn-lg btn-outline-success d-inline-block" type="submit" name="submit" value="adminUpdate">Create Admin</button>
                </div>
                
            </form>
            <!--remove admin block-->
            <form class="mt-3 " method="post">
                <div class="text-center">
                    <h3>Administrators</h3>
                    <h4>Select one that you'd like to remove admin privileges from.</h4>
                </div>
        
                <div class="text-center">
                    <select class="bg-white w-50  p-1 d-inline-block" name="removal">
                        <repeat group="{{@userTableStuff}}" value="{{@user}}">
                            <check if="@user['is_admin'] == 1">
                                <option name='userRemove' value="{{@user['user_id']}}">Name: {{@user['f_name']}} {{@user['l_name']}} Email: {{@user['user_email']}}</option>
                            </check>
                        </repeat>
                    </select>
                    <button class=" btn btn-lg btn-outline-success d-inline-block" type="submit" name="submit" value="adminRemove">Remove Admin</button>
                </div>
    
            </form>
            
            <!--make premium block-->
            <form class="mt-3" method="post">
                <div class="text-center">
                    <h3>Non-Premium Users</h3>
                    <h4>Select one that you'd like to make premium.</h4>
                </div>
        
                <div class="text-center ">
                    <select class="bg-white w-50  p-1 d-inline-block" name="newPremUserID">
                        <repeat group="{{@userTableStuff}}" value="{{@user}}">
                            <check if="@user['is_premium'] == 0">
                                <option name='userAdd' value="{{@user['user_id']}}">Name: {{@user['f_name']}} {{@user['l_name']}} Email: {{@user['user_email']}}</option>
                            </check>
                        </repeat>
                    </select>
                    <h6>What percentage discount would you like to give them?</h6>
                    <select class="bg-white w-25  p-1 d-inline-block" name="percentInput">
                        <option value="0.10">10%</option>
                        <option value="0.25">25%</option>
                        <option value="0.40">40%</option>
                        <option value="0.50">50%</option>
                    </select>
                    
                    <button class=" btn btn-lg btn-outline-success d-inline-block" type="submit" name="submit" value="premMake">Make Premium</button>
                </div>
    
            </form>
            
            <!--make standard block-->
            <form class="mt-3 mb-3" method="post">
                <div class="text-center">
                    <h3>Premium Users</h3>
                    <h4>Select one that you'd like to make a standard customer.</h4>
                </div>
                <div class="text-center ">
                    <select class="bg-white w-50  p-1 d-inline-block" name="newStandardUserID">
                        <repeat group="{{@userTableStuff}}" value="{{@user}}">
                            <check if="@user['is_premium'] == 1">
                                <option name='userAdd' value="{{@user['user_id']}}">Name: {{@user['f_name']}} {{@user['l_name']}} Email: {{@user['user_email']}}</option>
                            </check>
                        </repeat>
                    </select>
                    <button class=" btn btn-lg btn-outline-success d-inline-block" type="submit" name="submit" value="premTake">Make Standard</button>
                </div>
    
            </form>
            
        </div>
    </div> <!--end make admin block-->

    <!--a bunch of tables-->
    <div class="container-fluid">
        <div class="row mx-md-5 mx-3 justify-content-center">
    
            <!--table select-->
            <div class="row justify-content-center">
                <div class="container border border-dark m-3 col-md-8 col-10 text-center" id="select-table-block">
            
                    <div class="mx-5 my-3">
                        <h3>Admin Info Tables</h3>
                        <label for="tableSelect" ><strong>Select one to show the applicable table.</strong></label>
                        <select class="bg-white text-center p-1 mt-2" id="tableSelect">
                            <option value="itemsDiv">Inventory Table</option>
                            <option value="questionsDiv">Customer Questions Table</option>
                            <option value="ordersDiv">Orders Table</option>
                            <option value="usersDiv">Users Table</option>
                        </select>
                    </div>
        
                </div>
            </div> <!--end table select-->
    
            <!--items table. add a button that opens a form for new additions or archiving old products.-->
            <div class="col tableChoices" id="itemsDiv">
                <h3 >Inventory</h3>
                <table class="sales-admin display" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Item ID</th>
                            <th>Item Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>'Added' Date</th>
                            <th>Stock Quantity</th>
                            <th>Active/Archived</th>
                        </tr>
                    </thead>
                    <tbody>
                        <repeat group="{{ @amdProducts }}" value="{{ @item }}">
                            <tr>
                                <td>{{ @item['item_id'] }}</td>
                                <td>{{ @item['item_name'] }}</td>
                                <td>{{ @item['price'] }}</td>
                                <td>{{ @item['description'] }}</td>
                                <td>{{ @item['add_date'] }}</td>
                                <td>{{ @GLOBALS.dataLayer->getItemQty( @item['item_id'] ) }}</td>
                                <check if="@item['is_archived'] == 0">
                                    <true><td>Active</td></true>
                                    <false><td>Archived</td></false>
                                </check>
                            </tr>
                        </repeat>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Item ID</th>
                            <th>Item Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>'Added' Date</th>
                            <th>Stock Quantity</th>
                            <th>Active/Archived</th>
                        </tr>
                    </tfoot>
        
                </table>
    
            </div>
    
            <!--customer questions. add ability to answer from here-->
            <div class="col tableChoices" id="questionsDiv">
                <h3 >Customer Questions</h3>
                <table class="sales-admin display" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Question ID</th>
                            <th>Date</th>
                            <th>User ID</th>
                            <th>Email</th>
                            <th>User Name</th>
                            <th>Has the question been answered?</th>
                            <th>Question</th>
                            <th>Answer</th>
                        </tr>
                    </thead>
            
                    <tbody>
                        <repeat group="{{ @questionStuff }}" value="{{ @questionCategory }}">
                            <tr>
                                <td>{{ @questionCategory['q_id'] }}</td>
                                <td>{{ @questionCategory['q_date'] }}</td>
                                <td>{{ @questionCategory['user_id'] }}</td>
                                <td>{{ @questionCategory['contact_email'] }}</td>
                                <td>{{ @questionCategory['user_name'] }}</td>
                                <td>
                                    <check if="@questionCategory['is_answered'] == 0">
                                        <true>No</true>
                                        <false>Yes</false>
                                    </check>
                                </td>
                                <td>{{ @questionCategory['q_text'] }}</td>
                                <td>{{ @questionCategory['q_answer'] }}</td>
                            </tr>
                        </repeat>
                    </tbody>
            
                    <tfoot>
                        <tr>
                            <th>Question ID</th>
                            <th>Date</th>
                            <th>User ID</th>
                            <th>Email</th>
                            <th>User Name</th>
                            <th>Has the question been answered?</th>
                            <th>Question</th>
                            <th>Answer</th>
                        </tr>
                    </tfoot>
        
                </table>
    
            </div> <!--end of customer questions table-->
    
            <!--orders table-->
            <div class="col tableChoices" id="ordersDiv">
                <h3 >Order History</h3>
                <table class="sales-admin display" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>User ID</th>
                            <th>Order Total</th>
                            <th>Order Date</th>
                            <th>Fulfilled?</th>
                            <th>Fulfilled Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <repeat group="{{ @amdOrders }}" value="{{ @order }}">
                            <tr>
                                <td>{{ @order['order_id'] }}</td>
                                <td>{{ @order['user_id'] }}</td>
                                <td>${{ @GLOBALS.dataLayer->getOrderTotal( @order['order_id'], @order['is_premium'], @order['prem_percent'] ) }} </td>
                                <td>{{ @order['created_date'] }}</td>
                                <td>
                                    <check if="@order['is_fulfilled'] == 1">
                                        <true>Yes</true>
                                        <false>No</false>
                                    </check>
                                </td>
                                <td>{{ @order['fulfilled_date'] }}</td>
                            </tr>
                        </repeat>
            
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Order ID</th>
                            <th>User ID</th>
                            <th>Order Total</th>
                            <th>Order Date</th>
                            <th>Fulfilled?</th>
                            <th>Fulfilled Date</th>
                        </tr>
                    </tfoot>
                </table>
    
            </div> <!--end of orders table-->
    
            <!--list of users table-->
            <div class="col tableChoices" id="usersDiv">
                <h3 >Site Users</h3>
                <table class="sales-admin display" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>User Email</th>
                            <th>Administrator?</th>
                            <th>Phone Number</th>
                            <th>Premium Account?</th>
                            <th>Premium Discount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <repeat group="{{ @userTableStuff }}" value="{{ @user }}">
                            <tr>
                                <td>{{ @user['user_id'] }}</td>
                                <td>{{ @user['f_name'] }} {{ @user['l_name'] }}</td>
                                <td>{{ @user['user_email'] }}</td>
                                <td>
                                    <check if="@user['is_admin'] == 0">
                                        <true>No</true>
                                        <false>Yes</false>
                                    </check>
                                </td>
                                <td>{{ @user['user_phone'] }}</td>
                                <td>
                                    <check if="@user['is_premium'] == 0">
                                        <true>No</true>
                                        <false>Yes</false>
                                    </check>
                                </td>
                                <td>{{ @user['prem_percent'] * 100 }}%</td>
                            </tr>
                        </repeat>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>User Email</th>
                            <th>Administrator?</th>
                            <th>Phone Number</th>
                            <th>Premium Account?</th>
                            <th>Premium Discount</th>
                        </tr>
                    </tfoot>
                </table>
    
            </div> <!--end of users table-->
            
        </div>
    </div>

    <include href="includes/jscript.html"></include>
    <include href="includes/tables.html"></include>
<script src="scripts/modal-check.js"></script>
<script src="scripts/qandaScript.js"></script>
</body>
</html>