<!--
Conor, Pat, Regina
SDEV328 AMD
admin.html
-->
<include href="includes/header.html"></include>

    <h3 class="text-center text-white">Admin page active. Welcome, {{ @SESSION.loggedUser->getFname() }}</h3>

    <!--'add new item' form-->
    <div class="row justify-content-center">
        <div class="container border border-dark m-3 col-md-8 col-10" id="forms-block">
            <form method="post" class="card m-3 " id="newItemForms" enctype="multipart/form-data">
                
                <h3 class="text-center mt-3">Add New Item</h3>
                
                <check if="{{ isset(@picUp['newPicUp']) }}">
                    <span class="err ml-4">{{ @picUp['newPicUp'] }}</span>
                </check>
                <check if="{{ isset(@picUp['noPicUp']) }}">
                    <span class="err ml-4">{{ @picUp['noPicUp'] }}</span>
                </check>
                <check if="{{ isset(@errorsPic['realImage']) }}">
                    <span class="err ml-4">{{ @errorsPic['realImage'] }}</span>
                </check>
                <check if="{{ isset(@errorsPic['fileExists']) }}">
                    <span class="err ml-4">{{ @errorsPic['fileExists'] }}</span>
                </check>
                <check if="{{ isset(@errorsPic['imageSize']) }}">
                    <span class="err ml-4">{{ @errorsPic['imageSize'] }}</span>
                </check>
                <check if="{{ isset(@errorsPic['imageType']) }}">
                    <span class="err ml-4">{{ @errorsPic['imageType'] }}</span>
                </check>
                
                <fieldset class="row justify-content-center">

                    <div class="form-group col-md-10 col-12 ">
    
                        <div class="mt-4 row justify-content-center">
                            
                            <!--item name-->
                            <div class="col-md-6 col-12 my-md-0 my-2 px-5 px-md-2">
                                <check if="{{ isset(@errors['emptyName']) }}">
                                    <span class="err">{{ @errors['emptyName'] }}</span>
                                </check>
                                <label for="uploadName">Item Name </label>
                                <input class="form-control" type="text" name="uploadName" value="{{ @uploadName }}" id="uploadName">
                            </div>

                            <!--item price-->
                            <div class="col-md-6 col-12 my-md-0 my-2 px-5 px-md-2">
                                <check if="{{ isset(@errors['emptyPrice']) }}">
                                    <span class="err">{{ @errors['emptyPrice'] }}</span>
                                </check>
                                <label for="uploadPrice">Item Price </label>
                                <input class="form-control" type="text" name="uploadPrice" value="{{ @uploadPrice }}" id="uploadPrice">
                            </div>
                            
                        </div>
                        
                        <div class="mt-4 row justify-content-center">
                            <!--item description-->
                            <div class="col-lg-6 col-12 my-lg-0 my-2 px-5 px-lg-1">
                                <check if="{{ isset(@errors['emptyDesc']) }}">
                                    <span class="err">{{ @errors['emptyDesc'] }}</span>
                                </check>
                                <label for="uploadDescription">Description </label>
                                <textarea class="form-control" type="text" name="uploadDescription" id="uploadDescription"></textarea>
                            </div>

                            <!--item pic-->
                            <div class="col-lg-6 col-12 my-lg-0 my-2 px-5 px-lg-1">
                                <label for="uploadPic">Picture </label>
                                <input class="form-control" type="file" name="uploadPic" value="uploadPic" id="uploadPic">
                            </div>
                        </div>
                        
                        <div class="mt-4 mb-2 row justify-content-center">
                            <!--item qty-->
                            <div class="col-6 my-md-1 my-2 mb-3 ">
                                <check if="{{ isset(@errors['emptyQty']) }}">
                                    <span class="err">{{ @errors['emptyQty'] }}</span>
                                </check>
                                <label for="uploadCount">Quantity </label>
                                <input class="form-control" type="text" name="uploadCount" value="{{ @uploadCount }}" id="uploadCount">
                            </div>

                            <!--submit-->
                            <div class="col-6 my-md-1 my-2 ">
                                <label for="submitNewItem"></label>
                                <button class="float-end btn btn-lg btn-outline-success" type="submit"
                                        value="itemUpload" id="submitNewItem" name="submit">Submit</button>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </form>
        </div>
    </div> <!--end add new item form-->

    <!--archive/delete item block-->
    <div class="row justify-content-center">
        <div class="container border border-dark m-3 col-md-8 col-10" id="delete-block">
            <form class="mt-3 mb-4" method="post">
                <div class="text-center">
                    <h3>Archive or Delete Item</h3>
                    <h4>Select one that you'd like to delete or mark as 'archived.'</h4>
                </div>
                
                <div class="text-center ">
                    <select class="form-control w-50 d-inline-block" name="archiveOrDelete">
                        
                        <repeat group="{{ @amdProducts }}" value="{{ @item }}">
                            <check if="@item['is_archived'] == 0">
                                <option name='itemArch' value="{{@item['item_id']}}" >
                                    Item ID: {{@item['item_id']}}
                                    Item Name: {{@item['item_name']}}
                                    Qty: {{ @GLOBALS.dataLayer->getItemQty( @item['item_id'] ) }}
                                </option>
                            </check>
                        </repeat>
                        
                    </select>
                    <button class=" btn btn-lg btn-outline-success d-inline-block" type="submit" name="submit" value="archiveItem">Archive Item</button>
                    <button class=" btn btn-lg btn-outline-success d-inline-block" type="submit" name="submit" value="deleteItem">Delete Item</button>
                </div>
            
            </form>
        </div>
    </div> <!--end archive/delete item block-->

    <!--mark order fulfilled block-->
    <div class="row justify-content-center">
        <div class="container border border-dark m-3 col-md-8 col-10" id="fulfill-block">
            <form class="mt-3 mb-4" method="post">
                <div class="text-center">
                    <h3>Order Fulfill</h3>
                    <h4>Select one that you'd like to mark fulfilled.</h4>
                </div>
                
                <div class="text-center ">
                    <select class="form-control w-50 d-inline-block" name="fulfill">
                        <repeat group="{{@amdOrders}}" value="{{@order}}">
                            <check if="@order['is_fulfilled'] == 0">
                                <option name='orderfill' value="{{@order['order_id']}}" >
                                    Order ID: {{@order['order_id']}}
                                    User ID: {{@order['l_name']}}
                                    Total: {{ @GLOBALS.dataLayer->getOrderTotal( @order['order_id'] ) }}
                                </option>
                            </check>
                        </repeat>
                    </select>
                    <button class=" btn btn-lg btn-outline-success d-inline-block" type="submit" name="submit" value="orderFill">Fulfill Order</button>
                </div>
            
            </form>
        </div>
    </div> <!--end mark fulfilled block-->

    <!--make an admin form-->
    <div class="row justify-content-center">
        <div class="container border border-dark m-3 col-md-8 col-10" id="make-admin-block">
            <form class="mt-3" method="post">
                <div class="text-center">
                    <h3>Non-Admin Users</h3>
                    <h4>Select one that you'd like to make into an admin.</h4>
                </div>
    
                <div class="text-center ">
                    <select class="form-control w-50 d-inline-block" name="addition">
                        <repeat group="{{@userTableStuff}}" value="{{@user}}">
                            <check if="@user['is_admin'] == 0">
                                <option name='userAdd' value="{{@user['user_id']}}">{{@user['f_name']}} {{@user['l_name']}} {{@user['user_email']}}</option>
                            </check>
                        </repeat>
                    </select>
                    <button class=" btn btn-lg btn-outline-success d-inline-block" type="submit" name="submit" value="adminUpdate">Create Admin</button>
                </div>
                
            </form>
    
            <form class="mt-3 mb-3" method="post">
                <div class="text-center">
                    <h3>Administrators</h3>
                    <h4>Select one that you'd like to remove admin privileges from.</h4>
                </div>
        
                <div class="text-center">
                    <select class="form-control w-50 d-inline-block" name="removal">
                        <repeat group="{{@userTableStuff}}" value="{{@user}}">
                            <check if="@user['is_admin'] == 1">
                                <option name='userRemove' value="{{@user['user_id']}}">{{@user['f_name']}} {{@user['l_name']}} {{@user['user_email']}}</option>
                            </check>
                        </repeat>
                    </select>
                    <button class=" btn btn-lg btn-outline-success d-inline-block" type="submit" name="submit" value="adminRemove">Remove Admin</button>
                </div>
    
            </form>
        </div>
    </div> <!--end make admin block-->

    <!--a bunch of tables-->
    <div class="container-fluid row">
        
        <!--items table. add a button that opens a form for new additions or archiving old products.-->
        <div class="col-12 col-md-6 mb-5">
            <h3 class="float-end">Inventory</h3>
            <table class="sales-admin display">
                <!--note: need inventory/stock table. keep that count separate
                                   from item listing table for sql 'normalization'-->
                <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>'Added' Date</th>
                    </tr>
                </thead>
                <tbody>
                    <repeat group="{{ @amdProducts }}" value="{{ @item }}">
                        <tr>
                            <th>{{ @item['item_id'] }}</th>
                            <th>{{ @item['item_name'] }}</th>
                            <th>{{ @item['price'] }}</th>
                            <th>{{ @item['description'] }}</th>
                            <th>{{ @item['add_date'] }}</th>
                        </tr>
                    </repeat>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Item ID</th>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>'Added' Date</th>
                    </tr>
                </tfoot>

            </table>
            
        </div>
    
        <!--customer questions. add ability to answer from here-->
        <div class="col-12 col-md-6 mb-5">
            <h3 class="float-end">Customer Questions</h3>
            <table class="sales-admin display">
                <thead>
                    <tr>
                        <th>Question ID</th>
                        <th>Date</th>
                        <th>User ID</th>
                        <th>Email</th>
                        <th>User Name</th>
                        <th>Has the question been answered?</th>
                        <th>Question</th>
                        <th>Answer</th>
                    </tr>
                </thead>
                
                <tbody>
                    <repeat group="{{ @questionStuff }}" value="{{ @questionCategory }}">
                        <tr>
                            <th>{{ @questionCategory['q_id'] }}</th>
                            <th>{{ @questionCategory['q_date'] }}</th>
                            <th>{{ @questionCategory['user_id'] }}</th>
                            <th>{{ @questionCategory['contact_email'] }}</th>
                            <th>{{ @questionCategory['user_name'] }}</th>
                            <th>
                                <check if="@questionCategory['is_answered'] == 0">
                                    <true>No</true>
                                    <false>Yes</false>
                                </check>
                            </th>
                            <th>{{ @questionCategory['q_text'] }}</th>
                            <th>{{ @questionCategory['q_answer'] }}</th>
                        </tr>
                    </repeat>
                </tbody>
                
                <tfoot>
                    <tr>
                        <th>Question ID</th>
                        <th>Date</th>
                        <th>User ID</th>
                        <th>Email</th>
                        <th>User Name</th>
                        <th>Has the question been answered?</th>
                        <th>Question</th>
                        <th>Answer</th>
                    </tr>
                </tfoot>

            </table>
            
        </div> <!--end of customer questions table-->

        <!--orders table-->
        <div class="col-12 col-md-6 mb-5">
            <h3 class="float-end">Order History</h3>
            <table class="sales-admin display">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>User ID</th>
                        <th>Order Total</th>
                        <th>Order Date</th>
                        <th>Fulfilled?</th>
                        <th>Fulfilled Date</th>
                    </tr>
                </thead>
                <tbody>
                    <repeat group="{{ @amdOrders }}" value="{{ @order }}">
                        <tr>
                            <th>{{ @order['order_id'] }}</th>
                            <th>{{ @order['user_id'] }}</th>
                            <th>{{ @GLOBALS.dataLayer->getOrderTotal( @order['order_id'] ) }}</th>
                            <th>{{ @order['created_date'] }}</th>
                            <th>
                                <check if="@order['is_fulfilled'] == 1">
                                    <true>Yes</true>
                                    <false>No</false>
                                </check>
                            </th>
                            <th>{{ @order['fulfilled_date'] }}</th>
                        </tr>
                    </repeat>
                    
                </tbody>
                <tfoot>
                    <tr>
                        <th>Order ID</th>
                        <th>User ID</th>
                        <th>Order Total</th>
                        <th>Order Date</th>
                        <th>Fulfilled?</th>
                        <th>Fulfilled Date</th>
                    </tr>
                </tfoot>
            </table>
    
        </div> <!--end of orders table-->

        <!--list of users table-->
        <div class="col-12 col-md-6 mb-5">
            <h3 class="float-end">Site Users</h3>
            <table class="sales-admin display">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>User Email</th>
                        <th>Administrator?</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    <repeat group="{{ @userTableStuff }}" value="{{ @user }}">
                        <tr>
                            <th>{{ @user['user_id'] }}</th>
                            <th>{{ @user['f_name'] }} {{ @user['l_name'] }}</th>
                            <th>{{ @user['user_email'] }}</th>
                            <th>
                                <check if="@user['is_admin'] == 0">
                                    <true>No</true>
                                    <false>Yes</false>
                                </check>
                            </th>
                            <th>{{ @user['user_phone'] }}</th>
                        </tr>
                    </repeat>
                </tbody>
                <tfoot>
                    <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>User Email</th>
                        <th>Administrator?</th>
                        <th>Phone Number</th>
                    </tr>
                </tfoot>
            </table>
    
        </div> <!--end of users table-->
        
    </div>

    <include href="includes/jscript.html"></include>
    <include href="includes/tables.html"></include>
<script src="scripts/modal-check.js"></script>
</body>
</html>