<!--
Conor, Pat, Regina
SDEV328 AMD
customer.html
-->
<include href="includes/header.html"></include>
    <h1>CUSTOMER PAGE</h1>

    <!--TODO: customer info, 'add shipping addresses' function, list shipping addresses, orders history, reset pass-->
    <!--customer info-->
    <div class="row justify-content-center">
        
        <div class="container">
        
        </div>
        
    </div>

    <!--orders-->
    <div class="row">
    
    </div>

    <!--conversations-->
    <div class="row"></div>


    <include href="includes/jscript.html"></include>
<script src="scripts/modal-check.js"></script>
</body>
</html>
