<!--
Conor, Pat, Regina
SDEV328 AMD
home.html
-->
<!--This page contains the home html code, displaying all for-sale products.-->
<include href="includes/header.html"></include>

    <div class="row px-5 justify-content-start align-items-center">
        
        <!--inventory item cards-->
        <repeat group="{{ @amdProducts }}" value="{{ @item }}">
            <!--if item is archived, do not display or allow sale of-->
            <check if="@item['is_archived'] == 0">
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card my-3">
                        <img src="images/inventory/{{ @item['pic_link'] }}" class="card-img-top p-2" alt="{{ @item['description'] }}">
                        <div class="card-body">
                            <h3 class="card-title">{{ @item['item_name'] }}</h3>
                            <h5 class="card-text">Price ${{ @item['price'] }}</h5>
                            <p class="card-text">{{ @item['description'] }}</p>
                
                            <button class="btn btn-outline-success float-end addToCart" value="{{@item['item_id']}}"
                                    id="cartBtn">Add to cart</button>
                        </div>
                    </div>
                </div>
                
            </check>
            
        </repeat>
        
    </div>

<div>

</div>



    <div id="floatyCart" >
        <sessionInfo id="sessionInfo">
            <check if="{{ @cartExists }}">
            <true>true</true>
            <false>false</false>
        </check>
        </sessionInfo>

        <a href="cart">
        <button type="button" class="btn" id="circle">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
        </svg>
            Cart
        </button>
        </a>
    </div>

    <include href="includes/jscript.html"></include>

<script src="//code.jquery.com/jquery.js"></script>
<script src="scripts/modal-check.js"></script>

<!--This script posts to the page below, does what is in the php (session change), and makes that change available-->
<script>
//Pat's

    $( document ).ready(function() {
        //if janky information i am passing through custom tag has something (if cart exists), make cart button visible
        if($("#sessionInfo").html().trim()==="true") {
            $("#floatyCart").css("display", "unset");
        }
    });

    $(".addToCart").on("click",function(){
        let productValue = $(this).val();
        $.ajax({
            type: "POST",
            url: "classes/ajaxTest.php",
            data: {val: productValue},
            success: function(){
                alert("cart added to");
                //makes cart appear when add to cart is clicked
                $("#floatyCart").css("display", "unset");

            }
        });
        return false;
    });
</script>

</body>
</html>
