<!--
Conor, Pat, Regina
SDEV328 AMD
home.html
-->
<include href="includes/header.html"></include>

    <div class="row px-5 justify-content-between">
        
        <!--inventory item cards-->
        <repeat group="{{ @amdProducts }}" value="{{ @item }}">
            
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card my-3">
                    <img src="images/inventory/{{ @item['pic_link'] }}" class="card-img-top p-2" alt="{{ @item['description'] }}">
                    <div class="card-body">
                        <h3 class="card-title">Price ${{ @item['price'] }}</h3>
                        <p class="card-text">{{ @item['description'] }}</p>
                        <!--TODO: BUTTONS NEED TO ADD TO A CART ONCE IT EXISTS-->
                        <a href="" class="btn btn-outline-success float-end">Add to cart</a>
                    </div>
                </div>
            </div>
            
        </repeat>
        
    </div>
    

    <include href="includes/jscript.html"></include>
</body>
</html>
