<!--
Conor, Pat, Regina
SDEV328 AMD
shopping-cart.html
-->
<!--This is the shopping cart view page.-->
<include href="includes/header.html"></include>

<form method="post">
    <button class="float-end btn btn-lg btn-outline-success me-4" type="submit" name="submit" value="orderFinish">Place Order</button>
</form>

<h3 class="text-center">Shopping Cart</h3>
<div class="container-fluid row justify-content-center">
    <div class="container border border-dark m-3 col-md-10 col-12" id="">
        <table class="table ">
            <thead>
            <tr>
                <th scope="col">Item ID</th>
                <th scope="col">Item Name</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @cartItems }}" value="{{ @item }}">
                <cartItem>
                    <tr id="container{{@item['item_id']}}">
                        <td>
                            <p>{{@item['item_id']}}</p>
                        </td>
                        <td>
                            <p>{{@item['item_name']}}</p>
                        </td>
                        <td>

                            <p>{{@item['price']}} <button type="button" id="remove{{@item['item_id']}}" class="btn btn-danger remove">Remove Item</button></p>

                            <button id="sub{{@item['item_id']}}" class="btn btn-success btn-sm sub">-</button>

                            <input class="quantity" id="counter{{@item['item_id']}}" type="text" value="{{ @SESSION.sessionCart->getProductQuantity(@item['item_id'])}}">

                            <button id="add{{@item['item_id']}}" class="btn btn-success btn-sm add">+</button>


                        </td>
                    </tr>
                </cartItem>
            </repeat>
            </tbody>
        </table>
    </div>

</div>



<script src="//code.jquery.com/jquery.js"></script>
<script>
    <!--For increasing quantity if clicking + symbol-->
        $(".add").on("click",function(){
            let productID= $(this).attr('id').substring(3);
            alert(productID);
            $.ajax({
                flag: "add",
                context: this,
                // vars: {id:productID},
                type: "POST",
                url: "classes/cartOperations.php",
                data: {val: productID, flag: "add"},
                success: function(){
                    alert("success reached")

                    let nextVal = parseInt($(this).prev().val())+1;
                    alert("next value is: " +nextVal);
                    $(this).prev().val(nextVal);
                }
            });
            return false;
        });

    <!--For decreasing quantity when clicking + symbol-->
    $(".sub").on("click",function(){
        let productID= $(this).attr('id').substring(3);
        let productQuantity= $("#counter"+productID).val();
        alert("product quantity is: " +productQuantity);
        alert(productID);
        $.ajax({
            context: this,
            // vars: {id:productID},
            type: "POST",
            url: "classes/cartOperations.php",
            data: {val: productID, flag: "sub"},
            success: function(){
                alert("success reached")
                //if success is reached when quantity is 1, nuke the inner html
                if(productQuantity==1) {
                    $("#container" +productID).html("");
                }
                else {
                    let nextVal = parseInt($(this).next().val())-1;
                    alert("next value is: " +nextVal);
                    $(this).next().val(nextVal);
                }

            }
        });
        return false;
    });

    <!--For removing item from cart completely when remove button is clicked-->
    $(".remove").on("click",function(){
        let productID= $(this).attr('id').substring(6);
        alert("product id is" +productID);
        $.ajax({
            context: this,
            // vars: {id:productID},
            type: "POST",
            url: "classes/cartOperations.php",
            data: {val: productID, flag: "remove"},
            success: function(){
                $("#container" +productID).html("");
            }
        });
        return false;
    });


    /*    $(".add").click(function() {
            let productID= $(this).attr('id').substring(3);
            alert(productID);
            $('.counter').html(function(i, val) {
                let incQuantity = true;
                $.ajax({
                    url: 'classes/cartOperations.php',
                    type: 'POST',
                    data: {incQuantity: incQuantity},
                    success: function() { alert('Request has returned') }
                });
                return +val+1;
            });
        });*/

</script>

</body>
</html>