<!--
Conor, Pat, Regina
SDEV328 AMD
shopping-cart.html
-->
<include href="includes/header.html"></include>
    <h3>Shopping Cart</h3>
<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Item ID</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <repeat group="{{ @cartItems }}" value="{{ @item }}">
                    <p>{{@item['item_id']}}</p>

                </repeat>
            </td>
            <td>
                <repeat group="{{ @cartItems }}" value="{{ @item }}">
                    <p>{{@item['item_name']}}</p>
                </repeat>
            </td>
            <td>
                <repeat group="{{ @cartItems }}" value="{{ @item }}">
                    <p>{{@item['price']}} <button type="button" class="btn btn-danger">Remove Item</button></p>

                    <button id="sub{{@item['item_id']}}" class="btn btn-success btn-sm sub">-</button>

                    <input class="quantity" id="counter{{@item['item_id']}}" type="text" value="{{ @SESSION.sessionCart->getProductQuantity(@item['item_id'])}}">

                    <button id="add{{@item['item_id']}}" class="btn btn-success btn-sm add">+</button>

                </repeat>
            </td>
        </tr>
        </tbody>
    </table>
</div>




<script src="//code.jquery.com/jquery.js"></script>
<script>
    $(".add").on("click",function(){
        let productID= $(this).attr('id').substring(3);
        alert(productID);
        $.ajax({
            type: "POST",
            url: "classes/cartOperations.php",
            data: {val: productID},
            success: function(){
            }
        });
        return false;
    });
/*    $(".add").click(function() {
        let productID= $(this).attr('id').substring(3);
        alert(productID);
        $('.counter').html(function(i, val) {
            let incQuantity = true;
            $.ajax({
                url: 'classes/cartOperations.php',
                type: 'POST',
                data: {incQuantity: incQuantity},
                success: function() { alert('Request has returned') }
            });
            return +val+1;
        });
    });*/

</script>

</body>
</html>