/*
Conor, Pat, Regina
SDEV328 AMD
main-styles.css
*/

/* bootstrap overrides: add #overrideBootstrap prior to the class you may want to overrider*/
/* brought to you by this: https://stackoverflow.com/questions/20721248/how-can-i-override-bootstrap-css-styles */
#overrideBootstrap .btn-outline-success:hover {
    color: black;
}

#overrideBootstrap .form-control {
    background-color: white;
}

/*id styles*/

#resize-logo {
    max-width: 8%;
}

#resize-logo-sm {
    max-width: 15%;
}

#title {
    color: white;
}

#forms-block {
    border-radius: 20px;
    margin-right: 4rem;
    margin-left: 4rem;
}

#forms-block, #forms-block * {
    background-color: #fcf3f3;
}

#newUser {
    display: none;
}

#newItemForms input, label {
    display: block;
}

#newItemForms input[type=text], textarea {
    width: 100%;
}

/*class styles*/

.header-colour {
    background-color: #aec7b0;
}

.sales-admin {
    width: 100%;
}

.err {
    color: red;
}

/*main styles*/

body {
    background-image: linear-gradient(90deg, white, #c4a68e);
}
