/*
Conor, Pat, Regina
SDEV328 AMD
main-styles.css
*/

/* bootstrap overrides: add #overrideBootstrap prior to the class you may want to overrider*/
/* brought to you by this: https://stackoverflow.com/questions/20721248/how-can-i-override-bootstrap-css-styles */


/*id styles*/

#resize-logo {
    max-width: 5%;
}

#title {
    color: white;
}

/*class styles*/

.header-colour {
    background-color: #aec7b0;
}

/*main styles*/

body {
    background-image: linear-gradient(45deg, white, #c4a68e);
}